.env
node_modules/
package-lock.json
build/
.DS_Store
.vscode/
.idea/
dist/
coverage/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.development.local
.env.test.local
.env.production.local
handbook/tooling/ai-docs/
handbook/tooling/tooling-ia/rag_index.sqlite
handbook/tooling/tooling-ia/rag_tooling_index.sqlite
handbook/tooling/_meta/
handbook/tooling/bun/
handbook/tooling/ElysiaJS/
handbook/tooling/hono-zod-openAPI/
handbook/tooling/http/
handbook/tooling/lgpd/
handbook/tooling/mongoose/
handbook/tooling/postgres/
handbook/tooling/tooling-ia/
handbook/tooling/typescript/
handbook/tooling/zod/

