PORT=3000

# Initial Admin Data
SUPER_ADM_EMAIL=
SUPER_ADM_NAME=
SUPER_ADM_PASSWORD=

# Postgres Configuration (Bun.sql)
# Used in src/modules/shared/infra/postgres/client/postgres.client.ts
PG_USER=
PG_PASSWORD=
PG_HOST=
PG_PORT=5432
PG_DATABASE=

# MongoDB Configuration (Mongoose)
MONGO_LOCAL_URL=

# External Services
RESEND_API_KEY=
SENDGRID_API_KEY=

# Security
# Used in src/modules/shared/infra/hono/jwt/HonoJwt.service.ts and src/infra/jwt/jwtToken.ts
JWT_SECRET=