# --- Banco de Dados (Postgres) ---
# Em DEV: pode usar valores simples.
# Em PROD: Use senhas longas, geradas aleatoriamente.
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=conecta_social

# --- Banco de Dados (Mongo) ---
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example

# --- Aplicação ---
# Versão da imagem Docker a ser usada (útil para rollback)
APP_VERSION=latest
# URL do Registry de imagens (ex: ghcr.io/minha-empresa)
DOCKER_REGISTRY=local

# --- Segredos da API (Backend) ---
# Nunca commite as chaves reais!
JWT_SECRET=trocar_por_hash_seguro_em_prod
REFRESH_SECRET=trocar_por_hash_seguro_em_prod
